mat-drawer-container {
  height: 100%;
  margin-bottom: 20px;
}


table {
  position: absolute;

  width: -moz-available;
}

h4{
  text-align: center;
  font-size: 20px;
}

img
{
  top:60px;
  position: relative;
  width: 50px;

}
